/* sidebar */
.sidebar{
    width: 250px;
    height: 100%;
    background-color: #0A1F44;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.sidebar h1 {
    text-align: center;

    font-size: 24;
    
}

.sidebar nav {
    display: block;
    color: white;
    padding-top: 10px;
}

.sidebar nav a {
    display: block;
    padding: 5px;
}

.sidebar nav ul {
    list-style: none; 
}

.sidebar img{
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
}


/* footer */

footer{
    background-color: #CCCCCC;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

footer .ref{
    margin-left: 270px;
}

footer .con{
    margin-left: 300px;
}

/* General */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #6F00FF;
}

a {
    color: #4DA8DA;
    text-decoration: none;
}

a:hover{
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

/* Main */

body{
    margin: 0;
    background-color: #c4ddf7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    margin-left: 250px; 
}

.body{
    margin-left: 250px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    flex: 1 1 auto;
}

html, body {
    height: 100%;
    margin: 0;
}






/* index */
img{
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
}






/* arbeidserfaring og utdannelse */

.arb{
    padding-top: 50px;
}

.utd{
    padding-bottom: 50px;
}







/* ferdigheter og hobbyer */

.hobby{
    background-color: #c4ddf7;
    padding-bottom: 10px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}






